{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 10"],
        "node": "6"
      },
      "useBuiltins": "usage",
    }]
  ],
  "plugins": [
    "transform-regenerator",
    "transform-async-to-generator",
    "babel-plugin-add-module-exports",
    "version-transform",
    ["babel-plugin-transform-builtin-extend", { globals: ["Error"] }]
  ]
}
