@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,700);

/* Fonts! */
/*Reg*/
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/akzidgrostdreg.eot');
    src: url('../fonts/akzidgrostdreg.eot#iefix') format('embedded-opentype'),
    url('../fonts/akzidgrostdreg.woff') format('woff'),
    url('../fonts/akzidgrostdreg.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}
/*Reg Italic*/
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/akzidgrostdita.eot');
    src: url('../fonts/akzidgrostdita.eot#iefix') format('embedded-opentype'),
    url('../fonts/akzidgrostdita.woff') format('woff'),
    url('../fonts/akzidgrostdita.ttf')  format('truetype');
    font-style: italic;
    font-weight: normal;
}
/*Bold*/
@font-face {
    font-family: 'Akzidenz';
    font-family: 'Akzidenz Grotesk BQ Medium';
    src: url('../fonts/akzidgrostdmed.eot');
    src: url('../fonts/akzidgrostdmed.eot#iefix') format('embedded-opentype'),
    url('../fonts/akzidgrostdmed.woff') format('woff'),
    url('../fonts/akzidgrostdmed.ttf')  format('truetype');
    font-style: normal;
    font-weight: bold;
}
/*Bold Italic*/
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/akzidgrostdmedita.eot');
    src: url('../fonts/akzidgrostdmedita.eot#iefix') format('embedded-opentype'),
    url('../fonts/akzidgrostdmedita.woff') format('woff'),
    url('../fonts/akzidgrostdmedita.ttf')  format('truetype');
    font-style: italic;
    font-weight: bold;
}
/*Light*/
@font-face {
    font-family: 'Akzidenz';
    font-family: 'Akzidenz Grotesk BQ Light';
    src: url('../fonts/akzidgrostdlig.eot');
    src: url('../fonts/akzidgrostdlig.eot#iefix') format('embedded-opentype'),
    url('../fonts/akzidgrostdlig.woff') format('woff'),
    url('../fonts/akzidgrostdlig.ttf')  format('truetype');
    font-style: normal;
    font-weight: 200;
}
/*Light Italic*/
@font-face {
    font-family: 'Akzidenz';
    src: url('../fonts/akzidgrostdligita.eot');
    src: url('../fonts/akzidgrostdligita.eot#iefix') format('embedded-opentype'),
    url('../fonts/akzidgrostdligita.woff') format('woff'),
    url('../fonts/akzidgrostdligita.ttf')  format('truetype');
    font-style: italic;
    font-weight: 200;
}
