.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.button-is-small {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 7px 4px;
}

.button-is-primary {
    color: #fff;
    border-color: #507b32;
    background: -webkit-linear-gradient(180deg, #6ba442, #5a9330);
    background: linear-gradient(180deg, #6ba442, #5a9330);
}

.button {
    font-size: 14px;
    border: 1px solid;
    padding: 7px 15px 8px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    outline: none;
    color: #494747;
    border-color: #dee0e3;
    background: -webkit-linear-gradient(180deg, #ffffff, #f6f6f6);
    background: linear-gradient(180deg, #ffffff, #f6f6f6);
    margin: 10px;
}
