{{#with comment}}
    {{#if hasVisibleComponent}}
        <div class="tsd-comment tsd-typography">
            {{#if ../hasOwnDocument}}
              <h1>{{{../name}}}</h1>
            {{/if}}
            {{#if shortText}}
                <div class="lead">
                    {{#markdown}}{{{shortText}}}{{/markdown}}
                </div>
            {{/if}}
            {{#if text}}
                {{#markdown}}{{{text}}}{{/markdown}}
            {{/if}}
            {{#with tagsByName}}
              {{#if note}}
                {{> notes}}
              {{/if}}
              {{#if example}}
                {{> examples}}
              {{/if}}
              {{#if see}}
                {{> see-also}}
              {{/if}}
            {{/with}}
        </div>
    {{/if}}
{{/with}}
