{{#if settings.gaID}} 
<div id="rating-panel" ></div>
<link rel="stylesheet" href="{{relativeURL 'assets/css/feedback.css'}}" type="text/css" />
<script type="text/javascript" src="{{relativeURL 'assets/js/feedback.min.js'}}"></script>
{{/if}}
